  #toolName
  {
    display:block;
    border-style:solid;
    border-width:1px;
    border-color:  black;
    background-color:white;  }
  
  #toolDescription,
  #toolVersion,
  #toolUsage
  {
      display:block;
      background-color:#F8F8F8;
           color:grey;
  }

  img
      {   padding: 0px 0px 0px 0px;
  }
  
  button
    {  background-color:white;
    color:black;

  }

  #left-pane
  {
    left=0px;
    display:block;
    background-color: #ffffff;
  }
    #pane,#pane2
  {

    display:block;
    background-color: #ffffff;
  }
  
  #ArchiMateLanguage {
  display:block;
  color:#686c70;
  background-repeat:no-repeat;
  height: 600px;
  border-style:solid;
  border-width:1px;
  border-color:  gray;
  }

   #ERSelection-pane {
    text-align: left;
    overflow: scroll;
    display=none;
    
    #RSelection-pane {
    text-align: left;
    overflow: scroll;
    display=none;
    
  #relationsDisplay
 {
      display:none;
      top:0;
      color:grey;
      text-align: left;
      overflow: auto;
      background-color:#fff;
      background-repeat:no-repeat;
      margin-left:10%;
      margin-right:10%;
      text-align: justify;
      text-justify: inter-word;
  }
  
  #relationsButtons
    {
      top:0;
      color:grey;
      text-align: left;
      overflow: auto;
      background-color:#fff;
      background-repeat:no-repeat;
      margin-left:5%;
      margin-right:5%;
      text-align: justify;
      text-justify: inter-word;
      display:none;

  }
  #relationsCheckbox 
  {
      display:"none";

  }
  #RSelectionPane
    {
      top:0;
      color:grey;
      text-align: left;
      overflow: auto;
      background-color:#fff;
      background-repeat:no-repeat;
      margin-left:5%;
      margin-right:5%;
      text-align: justify;
      text-justify: inter-word;
      display:none;

  }  


  }
     #sub-pane2 {
    display="none"; 
    text-align: left;
    overflow: scroll;


  } 
  #myArchi {
  display:none;
  width:1000px; 
  height:400px; 
  border:solid;
  background-color:white;
  top:400px;
  color:#686c70;
  margin-left:5%;
  margin-right:5%;
  margin-bottom:20px;
  background-repeat:no-repeat;
  border:10px solid #ddd;
 
}  
    table.legend_table {
      font-size: 11px;
      border-width:1px;
      border-color:#d3d3d3;
      border-style:solid;
    }
    table.legend_table,td {
      border-width:1px;
      border-color:#d3d3d3;
      border-style:solid;
      padding: 2px;
    }
    div.table_content {
      width:80px;
      text-align:center;
    }
    div.table_description {
      width:100px;
    }

    #operation {
      font-size:28px;
    }
   
   #network-popUp {
      display:none;
      position:absolute;
      top:350px;
      left:170px;
      z-index:299;
      width:250px;
      height:200;
      background-color: #f9f9f9;
      border-style:solid;
      border-width:3px;
      border-color: #5394ed;
      padding:10px;
      text-align: center;
    }
      
  p {  margin-top: 0.4em; margin-bottom: 0em; }
  
  
   #block {
       margin:0 auto;
       position:absolute;
       height:auto;
       width:auto;
       max-width:1100px;
  }

  #entitiesCheckbox
  {
      display:none;
  }


  #eventSpan, #physicConfiguration
  {
      background-color:white;
      position:relative;
      top:0px;
      overflow: scroll;
      width:288px;
      height:200px;
      border-style:solid;
      border-width:1px;
      border-color: black;

  }

  #display
   {
      height:auto;
      width:auto;
      top:0;
      color:#686c70;
      margin-left:10%;
      margin-right:10%;
      background-color:#fff;
      background-repeat:no-repeat;

   }
 